<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HotPepperAPIKey</key>
	<string>$(HOTPEPPER_API_KEY)</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>現在地周辺の飲食店を検索するために位置情報を使用します。</string>
	<key>UIAppFonts</key>
	<array>
		<string>PretendardJP-Thin.otf</string>
		<string>PretendardJP-ExtraLight.otf</string>
		<string>PretendardJP-Light.otf</string>
		<string>PretendardJP-Regular.otf</string>
		<string>PretendardJP-Medium.otf</string>
		<string>PretendardJP-SemiBold.otf</string>
		<string>PretendardJP-Bold.otf</string>
		<string>PretendardJP-ExtraBold.otf</string>
		<string>PretendardJP-Black.otf</string>
	</array>
</dict>
</plist>
